/*Structure*/

header {
  background-color: #9FB8AD;
  padding: 10px;
}  

main {
  background-color: #CED0CE;
  padding: 20px;
}

footer {
  background-color: #9FB8AD;
  padding: 10px;
  text-align: center;
}

img {
  width: 100%;
}

hr{
  height: 3px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/*Content*/

h1 {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 38px;
  color: #EDF2FB;
  align-items: flex-start;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px;
}

/* Groups & Items  (Mobile First) */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.wrapper {
  width: 100%;
}

/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }  

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14 px 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 20px;
  }

  header nav ul li a:hover {
    color: lightskyblue;
  }
}

/*--Lists--*/

ul {
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Anchor Elements Pseudo-Class*/

a:link {color: blue}
a:visited {color:blueviolet}
a:hover {color: lightskyblue}
a:active {color: maroon}

/*--Map--*/

iframe {
  border: 1px solid black;
}

/* Navigation */

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  margin: 0 20px 0 0;
  color: #fff;
}

header nav ul li:last-child {
  margin-right: 0;
}

/* Contact Form*/

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: grey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form input[type-text] {
  font-size: 16px;
}

form input,
form textarea {
  width: 100%;
} 

form textarea{
  height: 150px;
}